@mixin blog_styles_classic--xl() {
	/* Blog layout: Classic */
	.post_layout_classic .post_content {
		font-size:1em;
	}
}

@mixin blog_styles_classic--lg() {

}

@mixin blog_styles_classic--md() {
	.post_layout_classic .swiper-container-horizontal > .swiper-pagination,
	.post_layout_classic .slider_outer > .swiper-pagination {
		bottom: 6px;
	}
	.post_layout_classic .slider_container .swiper-pagination-bullet, 
	.post_layout_classic .slider_outer .swiper-pagination-bullet {
		@include square(6px);
		border-width: 1px;
	}
	.post_layout_classic.format-audio .post_featured.with_thumb .post_audio {
		bottom: 1em;
	}
	.post_layout_classic.post_format_audio .mejs-time {
		display:none;
	}
}
